<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Payment</title>
  </head>
  <body>
    <h4 id="employee"></h4>
    <h4 id="salary"></h4>
    <h4 id="paymentDate"></h4>

    <!--View Admin-->
    <script>
      var url_string = window.location.href;
      var url = new URL(url_string);
      var c = url.searchParams.get("id");

      var url3 = "http://127.0.0.1:3000/payments/" + c;
      var xhr3 = new XMLHttpRequest();
      xhr3.open("GET", url3, true);

      xhr3.onload = function () {
        var payments = JSON.parse(xhr3.responseText);
        if (xhr3.readyState == 4 && xhr3.status == "200") {
          console.table(payments);
          document.getElementById("employee").innerHTML =
            "Admin employee : " + payments.employee;
          document.getElementById("salary").innerHTML =
            "Admin salary : " + payments.salary;
          document.getElementById("paymentDate").innerHTML =
            "Admin paymentDate : " + payments.paymentDate;
        } else {
          console.log("error");
        }
      };

      xhr3.send(null);
    </script>
  </body>
</html>
